# Environment Variables
.env
.env.*
!.env.example

# Python
__pycache__/
.pytest_cache/
.coverage
*.py[cod]
*$py.class
venv/
env/
.venv/
*.egg-info/
*.egg

# Node
node_modules/
build/
.npm
.yarn

# OS
.DS_Store
Thumbs.db

# Logs
*.log
